* {
  box-sizing: border-box;
}
.intro {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/intro-bg.jpg") center center no-repeat;
  background-size: cover;
}
.images img:hover {
  transform: scale(1.05);
  cursor: pointer;
  opacity: 0.7;
}
.images img {
  transition: 0.8s;
}
.shoutout,
.contact {
  background: linear-gradient(to bottom, rgb(40, 40, 40), rgba(0, 0, 0));
}
.services {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../images/bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 769px) {
  .stat {
    border-right: none !important;
    border-bottom: 1px solid #000;
    padding: 1rem 0;
  }
}
